<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wiki Game | Leaderboard</title>
    <script src="jquery_3.3.1.js"></script>
    <script src="modal.js" defer></script>
    <script src="lead.js" defer></script>
    <link rel="stylesheet" href="leaderboard.css">
    <script>
        function compare(a, b) {
            const timeA = a.time
            const timeB = b.time

            let comparison = 0;
            if(timeA > timeB) {
                comparison = 1
            } else if (timeA < timeB) {
                comparison = -1
            }

            return comparison
        }
    </script>
</head>
<body>

    <div class="navbar">
        <img src="the_wiki_game_logo_smaller_spaces.png" alt="Logo Failed to Load"
            style="width: 7.5vw; height:3vw; top: 0vw; cursor: pointer;" onclick="window.location.href = '/dashboard'">
        <ul class="navul">
            <li class="navlink" onclick="window.location.href = '/dashboard'">
                HOME</li>
            <li class="navlink">|</li>
            <li class="navlink" style="color: #201a06; font-weight:bold" onclick="window.location.href = '/leaderboard'">LEADERBOARD</li>
            <li class="navlink">|</li>
            <li class="navlink" id="profile">{{nav}}</li>
        </ul>
    </div>

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="contents">
                <p style="font-family: 'Montserrat Light'; font-weight:bold; font-size: 2vw;">Want to record your
                    progress?</p>
                <button class="login_btn" id="loginbtn" onclick="window.location.href = '/'">LOGIN</button>
                <p style="font-size:2vw; position:relative; top: 7vw; font-family: 'Montserrat Light';">OR</p>
                <a class="signup_link" id="signuplink" onclick="window.location.href = '/signup'">SIGN UP</a>
            </div>
        </div>

    </div>

    <div class="container">
         <div class="leaderboard">
             <div class="headers">
                 <button class="day_hd" id="day">DAY</button>
                 <button class="week_hd" id="week">MONTH</button>
                 <button class="all_time_hd" id="all_time">ALL TIME</button>
             </div>
             <div class="content">
                <div class="content_day" id="day_dets">
                    {{!-- <p class="top_5">TOP 5</p> --}}
                    {{!-- {{#each leaderboard}} --}}
                    {{!-- <div class="first" style="background-color: #fdf7db; height: 5vw;">
                        <ul class="details">
                            <li class="number" data-id="{{_id}}_key">{{@key}}.</li>
                            <li class="name" id="user_first">{{username}}</li>
                            <li class="dash">-</li>
                            <li class="points" data-id="{{_id}}"></li>
                            <script>
                                $("li[data-id={{_id}}]").text(Math.floor({{ time }} / 1000 / 60) + " min " + Math.round({{ time }}/1000%60) + " sec")
                                            $("li[data-id={{_id}}_key]").text(({{@key}} + 1) + ".")
                            </script>
                        </ul>
                    </div> --}}
                    {{!-- {{/each}} --}}
                </div>

                <div class="content_week" id="week_dets">
                    {{!-- <p class="top_5">TOP 5</p> --}}
                    {{!-- {{#each leaderboard}}
                    <div class="first" style="background-colo   r: #fdf7db; height: 5vw;">
                        <ul class="details">
                            <li class="number">{{@key}}: {{this}}.</li>
                            <li class="name" id="user_first">{{username}}</li>
                            <li class="dash">-</li>
                            <li class="points" id="time_first">{{time}}</li>
                        </ul>
                    </div>
                    {{/each}} --}}
                </div>
                
                <div class="content_all_time" id="all_time_dets">
                    {{!-- <p class="top_5">TOP 5</p> --}}
                    {{!-- {{#each leaderboard}}
                    <div class="first" style="background-color: #fdf7db; height: 5vw;">
                        <ul class="details">
                            <li class="number">{{@key}}: {{this}}.</li>
                            <li class="name" id="user_first">{{username}}</li>
                            <li class="dash">-</li>
                            <li class="points" id="time_first">{{time}}</li>
                        </ul>
                    </div>
                    {{/each}} --}}
                </div>
                <script>

                    $("#day").click(()=>{
                        $("#day_dets").css("display", "inline")
                        $("#week_dets").css("display", "none")
                        $("#all_time_dets").css("display", "none")
                    })
                    $("#week").click(()=>{
                        $("#day_dets").css("display", "none")
                        $("#week_dets").css("display", "inline")
                        $("#all_time_dets").css("display", "none")
                    })
                    $("#all_time").click(()=>{
                        $("#day_dets").css("display", "none")
                        $("#week_dets").css("display", "none")
                        $("#all_time_dets").css("display", "inline")
                    })

                    var x = []
                    {{!-- let temp = new Date(); --}}
                    var y
                    {{#each leaderboard}}
                    let abc{{_id}} = new Date()
                    abc{{_id}}.setTime({{date}})
                    y = ("{{path}}").split(",")
                    x.push({
                        username: "{{username}}",
                        time: {{time}},
                        date: abc{{_id}},
                        path: y
                    })
                    {{/each}}
                    x.sort(compare)
                    console.log(x)
                    let now = new Date()
                    var daily = []
                    for(var i = 0; i < x.length; i++){
                        if(x[i].date.getDate() == now.getDate() && x[i].date.getFullYear() == now.getFullYear()) {
                            daily.push(x[i])
                        }
                    }
                    console.log(daily)
                    var monthly = []
                    for(var i = 0; i < x.length; i++){
                        if(x[i].date.getMonth() == now.getMonth() && x[i].date.getFullYear() == now.getFullYear()) {
                            monthly.push(x[i])
                        }
                    }
                    console.log(monthly)

                    for(var i = 0; i < daily.length; i++) {
                        var container, ul, li1, li2, li3, li4
                        container = document.createElement("div")
                        container.className = "first"
                        $(container).css("background-color", "#fdf7db")
                        $(container).css("height", "5vw")
                        $("#day_dets").append(container)

                        ul = document.createElement("ul")
                        ul.className = "details"
                        container.append(ul)

                        li1 = document.createElement("li")
                        li1.className = "number"
                        $(li1).text((i + 1))
                        ul.append(li1)

                        li2 = document.createElement("li")
                        li2.className = "name"
                        $(li2).text(daily[i].username)
                        ul.append(li2)

                        li3 = document.createElement("li")
                        li3.className = "dash"
                        $(li3).text("-")
                        ul.append(li3)

                        li4 = document.createElement("li")
                        li4.className = "points"
                        $(li4).text(Math.floor(daily[i].time / 1000 / 60) + " min " + Math.round(daily[i].time/1000%60) + " sec")
                        ul.append(li4)

                        var peth = document.createElement("div")
                        peth.className = "peth"
                        container.append(peth)

                        var ul2 = document.createElement("ul")
                        ul2.className = "details"
                        peth.append(ul2)

                        var len = daily[i].path.length
                        var lis = [], hands = []

                        var z;
                        lis.push(z)
                        lis[0] = document.createElement("li")
                        $(lis[0]).text(daily[i].path[0])
                        //$(lis[j]).append(hand)
                        ul2.append(lis[0])

                        {{!-- var hand = document.createElement("img");
                        hand.src = "hand_cursor_point_right.png";
                        hand.style.width = "2vw";
                        hand.style.height = "2vw"; --}}

                        for(var j = 1; j < len; j++){
                            var z, ay;
                            lis.push(z)
                            hands.push(ay)
                            hands[j - 1] = document.createElement("img");
                            hands[j-1].src = "hand_cursor_point_right.png";
                            hands[j-1].style.width = "2vw";
                            hands[j-1].style.height = "2vw";
                            //hands[j-1].style.paddingRight = "2vw";
                            ul2.append(hands[j-1])
                            lis[j] = document.createElement("li")
                            $(lis[j]).text(daily[i].path[j])
                            //$(lis[j]).append(hand)
                            ul2.append(lis[j])
                            
                        }
                    }

                    for(var i = 0; i < monthly.length; i++) {
                        var container, ul, li1, li2, li3, li4
                        container = document.createElement("div")
                        container.className = "first"
                        $(container).css("background-color", "#fdf7db")
                        $(container).css("height", "5vw")
                        $("#week_dets").append(container)

                        ul = document.createElement("ul")
                        ul.className = "details"
                        container.append(ul)

                        li1 = document.createElement("li")
                        li1.className = "number"
                        $(li1).text((i + 1))
                        ul.append(li1)

                        li2 = document.createElement("li")
                        li2.className = "name"
                        $(li2).text(monthly[i].username)
                        ul.append(li2)

                        li3 = document.createElement("li")
                        li3.className = "dash"
                        $(li3).text("-")
                        ul.append(li3)

                        li4 = document.createElement("li")
                        li4.className = "points"
                        $(li4).text(Math.floor(monthly[i].time / 1000 / 60) + " min " + Math.round(monthly[i].time/1000%60) + " sec")
                        ul.append(li4)

                        var peth = document.createElement("div")
                        peth.className = "peth"
                        container.append(peth)

                        var ul2 = document.createElement("ul")
                        ul2.className = "details"
                        peth.append(ul2)

                        var len = monthly[i].path.length

                        var lis = [], hands = [];
                        var z;
                        lis.push(z)
                        lis[0] = document.createElement("li")
                        $(lis[0]).text(monthly[i].path[0])
                        //$(lis[j]).append(hand)
                        ul2.append(lis[0])

                        {{!-- var hand = document.createElement("img");
                        hand.src = "hand_cursor_point_right.png";
                        hand.style.width = "2vw";
                        hand.style.height = "2vw"; --}}

                        for(var j = 1; j < len; j++){
                            var z, ay;
                            lis.push(z)
                            hands.push(ay)
                            hands[j - 1] = document.createElement("img");
                            hands[j-1].src = "hand_cursor_point_right.png";
                            hands[j-1].style.width = "2vw";
                            hands[j-1].style.height = "2vw";
                            ul2.append(hands[j-1])
                            lis[j] = document.createElement("li")
                            $(lis[j]).text(monthly[i].path[j])
                            //$(lis[j]).append(hand)
                            ul2.append(lis[j])
                            
                        }
                    }

                    for(var i = 0; i < x.length; i++) {
                        var container, ul, li1, li2, li3, li4, ul2, peth
                        container = document.createElement("div")
                        container.className = "first"
                        $(container).css("background-color", "#fdf7db")
                        $(container).css("height", "5vw")
                        $("#all_time_dets").append(container)

                        ul = document.createElement("ul")
                        ul.className = "details"
                        container.append(ul)

                        li1 = document.createElement("li")
                        li1.className = "number"
                        $(li1).text((i + 1))
                        ul.append(li1)

                        li2 = document.createElement("li")
                        li2.className = "name"
                        $(li2).text(x[i].username)
                        ul.append(li2)

                        li3 = document.createElement("li")
                        li3.className = "dash"
                        $(li3).text("-")
                        ul.append(li3)

                        li4 = document.createElement("li")
                        li4.className = "points"
                        $(li4).text(Math.floor(x[i].time / 1000 / 60) + " min " + Math.round(x[i].time/1000%60) + " sec")
                        ul.append(li4)

                        peth = document.createElement("div")
                        peth.className = "peth"
                        container.append(peth)

                        ul2 = document.createElement("ul")
                        ul2.className = "details"
                        peth.append(ul2)

                        var len = x[i].path.length

                        var lis = [], hands = [];

                        var z;
                        lis.push(z)
                        lis[0] = document.createElement("li")
                        lis.className = "list"
                        $(lis[0]).text(x[i].path[0])
                        //$(lis[j]).append(hand)
                        ul2.append(lis[0])

                        {{!-- var hand = document.createElement("img");
                        hand.src = "hand_cursor_point_right.png";
                        hand.style.width = "2vw";
                        hand.style.height = "2vw"; --}}

                        for(var j = 1; j < len; j++){
                            var z, ay;
                            lis.push(z)
                            hands.push(ay)
                            hands[j - 1] = document.createElement("img");
                            hands[j-1].src = "hand_cursor_point_right.png";
                            hands[j-1].style.width = "2vw";
                            hands[j-1].style.height = "2vw";
                            ul2.append(hands[j-1])
                            lis[j] = document.createElement("li")
                            $(lis[j]).text(x[i].path[j])
                            //$(lis[j]).append(hand)
                            ul2.append(lis[j])
                            
                        }
                    }
                </script>
            </div>
             {{!-- <div class="content_day">
                 <!-- <p class="top_5">TOP 5</p> -->
                 <div class="first" style="background-color: #fdf7db; height: 5vw;">
                     <ul class="details">
                         <li class="number">1.</li>
                         <li class="name" id="user_first">JustinSeagull</li>
                         <li class="dash">-</li>
                         <li class="points" id="time_first">9000</li>
                     </ul>
                 </div>
                 <div class="second">
                     <ul class="details">
                         <li class="number">2.</li>
                         <li class="name" id="user_first">JustinSeagull</li>
                         <li class="dash">-</li>
                         <li class="points" id="time_second">9000</li>
                     </ul>
                 </div>
                 <div class="third">
                     <ul class="details">
                         <li class="number">3.</li>
                         <li class="name" id="user_first">JustinSeagull</li>
                         <li class="dash">-</li>
                         <li class="points" id="time_third">9000</li>
                     </ul>
                 </div>
                 <div class="fourth">
                     <ul class="details">
                         <li class="number">4.</li>
                         <li class="name" id="user_first">JustinSeagull</li>
                         <li class="dash">-</li>
                         <li class="points" id="time_fourth">9000</li>
                     </ul>
                 </div>
                 <div class="fifth">
                     <ul class="details">
                         <li class="number">5.</li>
                         <li class="name" id="user_first">JustinSeagull</li>
                         <li class="dash">-</li>
                         <li class="points" id="time_fifth">9000</li>
                     </ul>
                 </div>
             </div> --}}
         </div>
    </div>
</body>
</html>