<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wiki Game | Profile</title>
    <script src="jquery_3.3.1.js"></script>
    <script src="loginn.js"></script>
    <link rel="stylesheet" href="profile.css">
    <script>
        function compare(a, b) {
            const timeA = a.time
            const timeB = b.time

            let comparison = 0;
            if(timeA > timeB) {
                comparison = 1
            } else if (timeA < timeB) {
                comparison = -1
            }

            return comparison
        }
    </script>
</head>
<body>
    <div class="navbar">
        <img src="the_wiki_game_logo_smaller_spaces.png" alt="Logo Failed to Load"
            style="width: 7.5vw; height:3vw; top: 0vw; cursor: pointer;"
            onclick="window.location.href = '/dashboard'">
        <ul class="navul">
            <li class="navlink" onclick="window.location.href = '/dashboard'">HOME</li>
            <li class="navlink">|</li>
            <li class="navlink" onclick="window.location.href = '/leaderboard'">LEADERBOARD</li>
            <li class="navlink">|</li>
            <li class="navlink" id="profile" style="color: #201a06; font-weight:bold">PROFILE</li>
        </ul>
    </div>

    <div class="container">
        <div class="prof">
            <div id="profile-container">
                <image id="profileImage" src="the_wiki_game_logo_profile.png" />
            </div>

            <input id="imageUpload" type="file" name="profile_photo" placeholder="Photo" required="" capture>
            <p class="username" id="user">{{username}}</p>
        </div>
        {{!-- <div class="pw_dets">
            <p class="pw_label">Password:</p>
            <p class="password" id="pass">{{password}}</p>
        </div> --}}

        <div class="logoutdiv">
            <button class="logout_btn" id="logoutbtn" onclick="window.location.href = '/logout'">LOGOUT</button>
        </div>

        <div class="besttimediv">
            <p style="font-family: 'Montserrat Light'; font-size: 3vw; color:#46380b; ">Best Time: </p>
            <p class="bestTime" id="best">1010</p>
        </div>
        <script>
            var x = []
            let temp = new Date();
            {{#each leaderboard}}
            temp.setTime({{date}})
            x.push({
                username: "{{username}}",
                time: {{time}},
                date: temp
            })
            {{/each}}
            x.sort(compare)
            console.log(x)
            let m = []
            for(var i = 0; i < x.length; i++){
                if(x[i].username == "{{username}}") {
                    m.push(x[i])
                }
            }
            if (m.length == 0) {
                $("#best").text("N/A")
            } else {
                $("#best").text(Math.floor(m[0].time / 1000 / 60) + " min " + Math.round(m[0].time/1000%60) + " sec")
            }
        </script>
        
    </div>

    <script>
        $("#profileImage").click(function(e) {
        $("#imageUpload").click();
        });

        function fasterPreview( uploader ) {
        if ( uploader.files && uploader.files[0] ){
        $('#profileImage').attr('src',
        window.URL.createObjectURL(uploader.files[0]) );
        }
        }

        $("#imageUpload").change(function(){
        fasterPreview( this );
        });
    </script>
</body>
</html>